body {
    font-family: 'Raleway', sans-serif;
    position: relative;
    min-height: 101vh;
    color: azure;
}

.background {
    background-color: azure;
}

.info {
    font-size: 1.4rem;
}

.about-me > h1 {
    font-size: 3.6rem;
}

.info > p {
    text-align: justify;
}

.photo {
    border-radius: 55%;
}

.divider > .bar:nth-child(1){
    display: inline-block;
    width: 12%;
    height: 3px;
    background-color: red;
}

.divider > .bar:nth-child(2){
    display: inline-block;
    width: 12%;
    height: 3px;
    background-color: yellow;
    margin-left: -4px;
}

.divider > .bar:nth-child(3){
    display: inline-block;
    width: 12%;
    height: 3px;
    background-color: brown;
    margin-left: -4px;
}

/*MOBILE CSS*/
@media only screen and (max-width: 600px) {
    .about-me > h1 {
        font-size: 3rem;
    }

    .info {
        font-size: 1.2rem;
        padding: 1px 33px;
    }

    .photo {
        border-radius: 55%;
        width: 50%;
        height: 95%;
    }
}

/*END OF MOBILE CSS*/
