*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    position: relative;
    font-family: 'Bebas Neue', cursive;
}

.hamburger{
    position: absolute;
    top: 30px;
    right: 40px;
    z-index: 5;
}

#drop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#drop span{
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    display: block;
/*    transform-origin: top left;*/
    transition: 0.5s ease-in-out;
/*    transform:translateY(-100%);*/
}

#drop{
    overflow: hidden;
    transition-delay:0.8s;
    z-index: -1;
}

#drop > span:nth-child(1){
    z-index: 4;
    background: yellow;
    transform:translateY(-100%);
    transition-delay:0.4s;
}

#drop > span:nth-child(2){
    z-index: 5;
    background: maroon;
    transform:translateY(-100%);
    transition-delay:0.2s;
}

#drop > span:nth-child(3){
    z-index: 6;
    background: skyblue;
    transform:translateY(-100%);
    transition-delay:0.1s;
}

#drop > span:nth-child(4){
    z-index: 7;
    background: rgba(255,0,0,0.9);
    transform:translateY(-100%);
    transition-delay:0s;
}

#drop.active{
    transition-delay:0.1s;
    z-index: 1!important;
}

#drop.active > span:nth-child(1){
    z-index: 4;
    transition-delay: 0s;
}

#drop.active > span:nth-child(2){
    z-index: 5;
    transition-delay: 0.1s;
}
#drop.active > span:nth-child(3){
    z-index: 6;
    transition-delay: 0.2s;
}

#drop.active > span:nth-child(4){
    z-index: 7;
    transition-delay: 0.3s;
}

#drop.active span{
    transform:translateY(0);
}

#drop ul li{
    list-style: none;
    margin:10px 0;
}

ul{
    position: absolute;
    font-family: 'Raleway';
    font-size: 3rem;
    z-index: 8;
    visibility: hidden;
    opacity: 0;
    transition-delay: 0.25s;
}

ul > li > a{
    color: white;
    text-shadow: 0 0 20px rgba(0,0,0,0.2);
    text-decoration: none;
}

ul > li > a:hover{
    color: #FEE715FF;
    font-weight: 600px;
    text-decoration: none;
}

#drop.active ul{
    visibility: visible;
    opacity: 1;
    transition-delay: 0.6s;
}