/*
#101820FF
#FEE715FF
*/

/**********General CSS *************/


h2 {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 3rem;
    letter-spacing: 2px;
}

h4 {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 2.3rem;
    letter-spacing: 2px;
    margin-top: 30px;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.container {
    width: 70%;
    margin: 0 auto;
    padding: 10px;
}

.row {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    background-color: #FEE715FF !important;
}

.about-me{
    width: 50%;
}

.about-me > div{
    margin-left: 52px;
}

.items{
    padding: 19px;
}
/*MOBILE CSS*/
@media only screen and (max-width: 600px) {
    h2 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1rem;
        letter-spacing: 2px;
        margin-top: 30px;
    }

    .about-me{
        width: 80%;
    }
    
    .about-me > div{
        margin-left: 11px;
    }

    .items{
        padding: 8px;
    }

    .hamburger{
        right: 7px!important;
    }
}

/*END OF MOBILE CSS*/
/********END OF GENERAL SECTION*************************/
/*******SOCIAL MEDIA SECTION *******/
.social-media {
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 13px;
}

.social-media > .social-icons {
    text-decoration: none;
    color: white;
    font-size: 2.2rem;
    text-align: center;
}

.social-media > .social-icons:hover {
    color: #FEE715FF;
    cursor: pointer;
}

/*MOBILE CSS*/
@media only screen and (max-width: 600px) {

    body{
        height: 101vh!important;
    }

    .row {
        height: 101vh;
    }
    

    .social-media {
        height: 40%;
        padding: 15px;
    }

    .social-media > .social-icons {
        text-decoration: none;
        color: white;
        font-size: 1.8rem;
        text-align: center;
    }

    .quick-read h2,
    .quick-read h4 {
        text-align: center;
    }

    .col-2 {
        display: flex;
        align-items: center;
        width: 12.333% !important;
        position: relative;
    }

    .vertical-line {
        display: block!important;
        border-left: solid 4px white;
        height: 140px;
        position: absolute;
        left: 40%;
        bottom: 0;
    }


}

.vertical-line {
    display: none;
}

/*END OF MOBILE CSS*/

/********END SOCIAL MEDIA SECTION***/

/*******LANDER SECTION**************/
.col-2 {
    width: 8.333%;
    height: 100%;
}

.quick-read {
    width: 42%;
    padding: 30px;
}

.lander-image {
    width: 33%;
}

.lander-image > img {
    color: azure;
}

.background-container {
    position: relative;
}

/*MOBILE CSS*/
@media only screen and (max-width: 600px) {
    .lander-image {
        display: none;
    }

    .quick-read {
        width: 70%;
    }

}

/*END OF MOBILE CSS*/
/*******END OF LANDER SECTION**************/
